.full-width-table {
  width: 100%;
}

.small-table{
  overflow-x: scroll !important;
}

.border {
  padding: 10px;
}

.btn {
  margin-right: 10px;
}

.fa {
  margin-right: 10px;
}


table .btn{
  margin: 2px;
}

.full-width{
  width: 100%;
}

