<div class="mat-elevation-z8 small-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="project_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
      <td mat-cell *matCellDef="let row">{{row.project_name}}</td>
    </ng-container>

    <ng-container matColumnDef="dept_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Code</th>
      <td mat-cell *matCellDef="let row">{{row.dept_code}}</td>
    </ng-container>

    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Users</th>
      <td mat-cell *matCellDef="let row">{{row.users}}</td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
      <td mat-cell *matCellDef="let row">{{row.product}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="createdat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let row">{{row.createdat}}</td>
    </ng-container>

    <ng-container matColumnDef="cieareaid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CIE AreaID</th>
      <td mat-cell *matCellDef="let row">{{row.cieareaid}}</td>
    </ng-container>

    <ng-container matColumnDef="financeproductid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Finance ProductID</th>
      <td mat-cell *matCellDef="let row">{{row.financeproductid}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="tableData?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>

<!-- id: number;
  project_name: string;
  cieareaid: number;
  dept_code: string;
  createdat: string;
  financeproductid: number;
  product: string;
  status: string;
  updatedat: string; -->
