
<div class="container">

  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">
      <i class="fa fa-plus"></i>Add New Project</button>
  </div>


  <!-- Add New Project Modal -->
  <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <form
        (ngSubmit)="onSubmit()"
        name="modalForm"
        [formGroup]="modalForm"
      >
      <div class="project-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Project Name</mat-label>
          <input
            formControlName="projectName"
            matInput
            required
            placeholder="Enter Project Name"
          />
          <mat-error *ngIf="!modalForm.controls['projectName'].valid">
            Required Project Name
          </mat-error>
        </mat-form-field>
      </div>
       <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Department Code</mat-label>
            <input
              formControlName="deptCode"
              matInput
              required
              placeholder="Enter Department Code"
            />
            <mat-error *ngIf="!modalForm.controls['deptCode'].valid">
              Required Department Code
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Users</mat-label>
            <input
              formControlName="users"
              matInput
              required
              placeholder="Enter Users separated by comma"
            />
            <mat-error *ngIf="!modalForm.controls['users'].valid">
              Required Users
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Product</mat-label>
            <input
              formControlName="product"
              matInput
              required
              placeholder="Enter Product"
            />
            <mat-error *ngIf="!modalForm.controls['product'].valid">
              Required Product
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select id="statusOption" formControlName="statusOption" required>
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!modalForm.controls['statusOption'].valid">Please choose the status.</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>CIE Area ID</mat-label>
            <input
              formControlName="cieareaid"
              matInput
              required
              placeholder="Enter CIE AreaID"
            />
            <mat-error *ngIf="!modalForm.controls['cieareaid'].valid">
              Required CIE AreaID
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Finance ProductID</mat-label>
            <input
              formControlName="financeproductid"
              matInput
              required
              placeholder="Enter Finance ProductID"
            />
            <mat-error *ngIf="!modalForm.controls['financeproductid'].valid">
              Required Finance ProductID
            </mat-error>
          </mat-form-field>
        </div>

        <div class="border text-center">
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
  </div>
</ng-template>
<!--  -->

<!-- Project Details Modal -->
<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Project Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <div class="input-group">
          <input id="projectName" class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <label for="deptCode">Department Code</label>
        <div class="input-group">
          <input id="deptCode" name="deptCode" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="users">Users</label>
        <div class="input-group">
          <input id="users" name="users" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="product">Product</label>
        <div class="input-group">
          <input id="product" name="product" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <div class="input-group">
          <input id="status" name="status" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="createdat">CreatedAt</label>
        <div class="input-group">
          <input id="createdat" name="createdat" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="createdat">UpdatedAt</label>
        <div class="input-group">
          <input id="createdat" name="createdat" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="cieareaid">CIE AreaID</label>
        <div class="input-group">
          <input id="cieareaid" name="cieareaid" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="financeproductid">Finance ProductID</label>
        <div class="input-group">
          <input id="financeproductid" name="financeproductid" class="form-control">
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
  </div>
</ng-template>
<!-- -->


<!-- Edit Project Details Modal -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Project Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <form
        (ngSubmit)="onSaveChanges()"
        name="editForm"
        [formGroup]="editForm"
      >
      <div class="project-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Project Name</mat-label>
          <input
            formControlName="projectName"
            matInput
            required
            placeholder="Enter Project Name"
          />
          <mat-error *ngIf="!editForm.controls['projectName'].valid">
            Required Project Name
          </mat-error>
        </mat-form-field>
      </div>
       <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Department Code</mat-label>
            <input
              formControlName="deptCode"
              matInput
              required
              placeholder="Enter Department Code"
            />
            <mat-error *ngIf="!editForm.controls['deptCode'].valid">
              Required Department Code
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Users</mat-label>
            <input
              formControlName="users"
              matInput
              required
              placeholder="Enter Users separated by comma"
            />
            <mat-error *ngIf="!editForm.controls['users'].valid">
              Required Users
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Product</mat-label>
            <input
              formControlName="product"
              matInput
              required
              placeholder="Enter Product"
            />
            <mat-error *ngIf="!editForm.controls['product'].valid">
              Required Product
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select id="statusOption" formControlName="statusOption" required>
              <mat-option *ngFor="let status of statuses" [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!editForm.controls['statusOption'].valid">Please choose the status.</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>CIE Area ID</mat-label>
            <input
              formControlName="cieareaid"
              matInput
              required
              placeholder="Enter CIE AreaID"
            />
            <mat-error *ngIf="!editForm.controls['cieareaid'].valid">
              Required CIE AreaID
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Finance ProductID</mat-label>
            <input
              formControlName="financeproductid"
              matInput
              required
              placeholder="Enter Finance ProductID"
            />
            <mat-error *ngIf="!editForm.controls['financeproductid'].valid">
              Required Finance ProductID
            </mat-error>
          </mat-form-field>
        </div>

        <div class="border text-center">
          <button data-dismiss="modal" class="btn btn-info">Save Changes</button>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
  </div>
</ng-template>
<!--  -->

<!-- Delete Project/s Modal -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete selected Project/s</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete the records?</h2>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Confirm</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
  </div>
</ng-template>
<!--  -->


  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Project Name</th>
      <th>Department Code</th>
      <th>Users</th>
      <th>Product</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>CIE AreaID</th>
      <th>Finance ProductID</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of dataSource.data">
      <td><span>{{row.id}}</span></td>
      <td><span>{{row.project_name}}</span></td>
      <td><span>{{row.dept_code}}</span></td>
      <td><span>{{row.users}}</span></td>
      <td><span>{{row.product}}</span></td>
      <td><span>{{row.status?"Active":"Closed"}}</span></td>
      <td><span>{{row.createdat}}</span></td>
      <td><span>{{row.updatedat}}</span></td>
      <td><span>{{row.cieareaid}}</span></td>
      <td><span>{{row.financeproductid}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, row)">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, row)">
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete,row)">
          <i class="fa fa-remove"></i>Delete</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
