<div class="content-body">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Login</h2>
      </div>
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="email-input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              required
              placeholder="Enter email address"
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
              Required Email Address
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <span class="aLink">Forgot Password</span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              required
            />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              Required Password
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Login</button>
        <br /><br />
        <app-alert></app-alert>
      </form>
    </mat-card-content>
  </mat-card>
</div>
