<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <img src="../../assets/avatar.png" alt="Avatar" id="avatar">
    <!-- <span class="avatar-info">Full Name</span>
    <span class="avatar-info">Email</span> -->
    <mat-nav-list>
      <br>
      <p class="avatar-info" mat-list-item>{{fullName + " - " + role | titlecase}}</p>
      <p class="avatar-info" mat-list-item>{{email}}</p>
      <br><br>
      <a mat-list-item [routerLink]="'/dashboard'">Project Dashboard</a>
      <a mat-list-item *ngIf="role==='Admin'" [routerLink]="'/register'">Register New User</a>
      <a mat-list-item *ngIf="role==='Admin'" [routerLink]="'/import'">Bulk Import Project Details</a>
      <!-- <a mat-list-item [routerLink]="'/'">Register New User</a> -->


      <a mat-list-item style="cursor:pointer" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Project Mapping</span>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
