<div class="content-body">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Register New User</h2>
      </div>
      <form
        (ngSubmit)="onRegister()"
        name="registerForm"
        [formGroup]="registerForm"
      >
        <div class="email-input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              required
              placeholder="Enter email address"
            />
            <mat-error *ngIf="!registerForm.controls['email'].valid">
              Required Email Address
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
              required
            />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="!registerForm.controls['password'].valid">
              Required Password
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Select role</mat-label>
            <mat-select formControlName="userRole" required>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{ role.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!registerForm.controls['userRole'].valid">Please choose a role.</mat-error>
          </mat-form-field>
        </div>

        <button mat-flat-button color="primary">Register</button>
        <br /><br />

        <div *ngIf="!btnColor" class="alert btn-danger" [hidden]="hideAlert">
          <span class="closebtn" (click)="toggleAlert()">&times;</span>
          <p *ngIf="!btnColor">User already exists!</p>
        </div>

        <div *ngIf="btnColor" class="alert btn-success" [hidden]="hideAlert">
          <span class="closebtn" (click)="toggleAlert()">&times;</span>
          <p *ngIf="btnColor">User registered successfully!</p>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>
